body{
	background-color:black;
	color:#ffffff;
}

.typeimg , .characteristiclistimg{
	display:inline;
}

.typeimg img , .characteristiclistimg img{
	width:45px;
	padding:2.5px;
}

.iconimg{
	padding:10px;
}